$global-white:        #fff;
$global-black:        #000;
$global-background:   #efefef;
$global-grey:         #d7d7d7;
$global-mid-grey:     #cdcdcd;
$global-dark-grey:    #333;
$global-x-dark-grey:  #666;
$global-orange:       #e95420;
$global-transparent:  transparent;
