$breakpoint-medium: 875px;
$grid-max-width: 68rem;

@import 'node_modules/vanilla-framework/scss/base_placeholders';
@import 'node_modules/vanilla-framework/scss/base_typography';
@import 'node_modules/vanilla-framework/scss/utilities_hide';
@import 'node_modules/vanilla-framework/scss/utilities_margin-collapse';
@import 'node_modules/vanilla-framework/scss/utilities_padding-collapse';

// $ubuntu-logo-svg-width: 81 * $px; // width in rems
// $circle-of-friends-compensation: 0rem; // padding compensation to create visually equal margins;
// $ubuntu-logo-width--desktop: $ubuntu-logo-svg-width + 2 * $grid-margin-width;
// $ubuntu-logo-width--mobile: $ubuntu-logo-svg-width + 2 * $sph-intra;
// $p-small-lh-diff: map-get($line-heights, default-text) - map-get($line-heights, small);
// $contrast-ratio: 5%;
// $global-nav-bg-color: #262626; //matches Mark's document //lighten($color-dark, 8%);
// $global-nav-dropdown-bg-color: $global-nav-bg-color; //lighten($color-dark, 13.55%); //#333
// $nav-bg-color: lighten($global-nav-bg-color, $contrast-ratio);

.global-nav {
  @include vf-b-placeholders;
  @include vf-b-typography;
  @include vf-u-hide;
  @include vf-u-margin-collapse;
  @include vf-u-padding-collapse;

  align-items: center;
  background-color: #262626;
  color: $color-light;
  display: flex;
  font-family: "Ubuntu Light", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: $font-base-size;
  font-weight: 300;
  line-height: map-get($line-heights, default-text);
  position: relative;
  overflow-y: hide;
  z-index: 10;

  * {
    box-sizing: border-box;
  }

  .global-nav__row {
    margin: 0 auto;
    max-width: $grid-max-width;
    padding: 0 1.5rem;
  }

  .row.is-bordered::after {
    background-color: #666;
    margin-top: 2rem;
    height: 1px;
    width: 100%;
  }

  .global-nav__link {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .global-nav__header {
    background-color: #262626;
    display: flex;
    width: 100%;
    z-index: 5;
  }
  
  .global-nav__logo {
    display: block;
    line-height: 0;
    margin: 0;
  }
  
  .global-nav__logo-anchor {
    display: inline-block;
    line-height: 0;
    padding: .6875rem 1rem;
    width: 7.0625rem;
  }
  
  .global-nav__links {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
  }
  
  .global-nav__link--dropdown {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;

    &.is-selected > .global-nav__link-anchor::after {
      transform: rotate(180deg);
    }
  }
  
  .global-nav__link-anchor {
    color: #fff;
    display: inline-block;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    padding: .375rem 1.625rem .375rem .5rem;
    text-decoration: none;

    &:visited,
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  
    &::after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='4' width='10'%3E%3Cpath d='M3.637 3.138A26.335 26.335 0 0 1 0 0h1.541a21.242 21.242 0 0 0 1.364 1.187 16.899 16.899 0 0 0 .752.563 19.8 19.8 0 0 0 1.315.848h.054a19.8 19.8 0 0 0 1.315-.848c.398-.28.788-.583 1.169-.904.327-.275.643-.557.947-.846h1.541a26.335 26.335 0 0 1-3.637 3.138c-.519.365-.973.652-1.362.862-.39-.21-.844-.497-1.362-.862z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-size: 100%;
      content: '';
      height: .25rem;
      position: absolute;
      right: .5rem;
      transition: transform .25s;
      top: .9625rem;
      width: .625rem;
    }
  }
  
  .global-nav__dropdown {
    font-size: .875rem;
    height: auto;
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    top: 2rem;
    transform: translateY(-100%);
    transition-duration: .333s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    width: 100%;
    z-index: 4;
  }
  
  .global-nav__dropdown-content {
    padding-top: 0;
    background-color: #262626;
  }
  
  .global-nav__overlay {
    background-color: rgba(17, 17, 17, .4);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 2rem;
    transition: opacity .5s ease-in-out;
    width: 100%;
    z-index: 1;
  }
  
  .global-nav__strip {
    background-color: #262626;
    clear: both;
    color: #f7f7f7;
    padding: 2rem 0 0 0;
    width: 100%;
  }

  .global-nav__strip--mobile {
    display: none;

    @media (max-width: $breakpoint-navigation-threshold) {
      display: block;
    }
  }
  
  .global-nav__matrix {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .global-nav__matrix-item {
    border-top: 1px solid #666;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0;
    padding: 1rem;
    width: 33.33%;

    &:nth-child(3n+1) {
      padding-left: 0;
    }

    &:nth-child(3n+3) {
      border-right: 0;
      padding-right: 0;
    }

    @media (min-width: $breakpoint-medium) {
      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        border-top: 0;
      }
    }
  }

  .global-nav__matrix-image {
    display: inline-block;
    height: auto;
    margin-bottom: 1rem;
    margin-right: .5rem;
    max-height: 2rem;
    max-width: 2rem;
    position: relative;
    top: .1rem;

    @media (max-width: $breakpoint-medium) {
      display: none;
    }
  }

  .global-nav__matrix-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-right: 1rem;
    width: 100%;
  }

  .global-nav__matrix-title {
    @extend %vf-heading-4;
    font-family: "Ubuntu Light", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-top: -.5rem;

    @media (max-width: $breakpoint-medium) {
      margin-bottom: 0;
    }
  }

  .global-nav__matrix-desc {
    margin: -1rem 0 .1rem 0;

    @media (max-width: $breakpoint-medium) {
      display: none;
    }
  }

  .global-nav__split-list {
    columns: 2;
    column-gap: 2rem;
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;

    .global-nav__list-item {
      display: inline-block;
      width: 100%;
      padding: .25rem 0;
      margin: 0;
    }
  }

  .global-nav__inline-list {
    margin: .5rem 0 0 0;
    padding: 0;

    .global-nav__list-item {
      display: inline;
      list-style: none;
      margin-right: 1.25rem;
    }
  }

  .global-nav__muted-heading {
    @extend %muted-heading;
    color: #f7f7f7;
  }

  .global-nav__product-extras {
    display: flex;

    .global-nav__matrix-item {
      border: 0;
      padding: 0 0 2rem 0;
    }

    .global-nav__matrix-title {
      @extend %vf-heading-5;
      font-weight: 300;
    }
  }

  .global-nav__others-col {
    width: 74.17808%;
  }

  .global-nav__resources-col {
    margin-left: 3.2877%;
    width: 22.53423%;
  }

  .show-content {
    height: auto;
    transform: translateY(0);
  }

  .show-overlay {
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: $breakpoint-navigation-threshold) {
  body {
    padding-bottom: 3rem;
    position: relative;
  }

  .global-nav {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;

    .global-nav__overlay {
      display: none;
    }

    .global-nav__header {
      display: block;
    }

    .global-nav__row {
      display: block;
    }
  
    .global-nav__logo-anchor {
      display: block;
      padding: 0.6875rem 1.5rem 0.6875rem 0;
      width: 8.0625rem;
    }
  
    .global-nav__link-anchor {
      padding-left: 0;
    }

    .global-nav__dropdown {
      height: 0;
      top: 3rem;
      transform: translateY(0);

      &.show-content {
        height: auto;
      }
    }

    .global-nav__dropdown-content {
      padding-top: 1.5rem;
    }

    .global-nav__strip {
      padding: 1rem 0 0;
    }

    .global-nav--mobile {
      .global-nav__split-list {
        display: none;
      }
    }

    .global-nav--mobile-heading {
      background-image: url("https://assets.ubuntu.com/v1/7bd1bd7b-arrow_down_9fa097.svg");
      background-position: calc(100% - 10px) 50%;
      background-repeat: no-repeat;
      background-size: 13px 13px;
      border-top: 1px solid #666;
      cursor: pointer;
      font-size: .8125rem;
      line-height: 1.5;
      margin: 0;
      max-width: inherit;
      padding: 1rem 0;

      &.is-active {
        background-image: url("https://assets.ubuntu.com/v1/43e2b367-arrow_up_9fa097.png");
        
        & + .global-nav__split-list {
          display: block;
        }
      }
    }

    .global-nav__matrix {
      flex-direction: column;
    }

    .global-nav__matrix-item {
      padding: 1rem 0;
      width: 100%;
    }

    .global-nav__muted-heading {
      font-size: .8175rem;
    }

    .global-nav__inline-list {
      margin-top: 0;
    }
  }
}